body {
  background-color: lightblue;
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  border: 1px solid;
  margin: 10px;
  padding: 2px;
}

h1 {
  margin: 20px;
  padding: 18px;
  border: 1px solid;
  position: static;
  text-align: center;
  font-size: 50px;
}

.nav {
  border: 1px solid;
  margin: 10px;
  padding: auto;
  position: static;
  text-align: center;
}

.nav a {
  background-color: azure;
  border: 1px solid;
  margin: auto;
  padding: 16px;
  width: 20%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.nav a:hover {
  background-color: lightgray;
}

main {
  border: 1px solid;
  margin: 10px;
  padding: 5px;
}

img {
  border: 1px solid;
  margin: auto;
  padding: 16px;
  height: 400px;
  width: 600px;
  display: block;
}

h2 {
  border: 1px solid;
  margin: auto;
  padding: 18px;
  display: inline;
}

p {
  border: 1px solid;
  margin: auto;
  padding: 18px;
}

/*about me page*/
#image2 {
  border: 1px solid;
  padding: 16px;
  width: 90%;
}
